<!-- Start footer -->
<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <p>&copy; Copyright
                <a rel="nofollow" href="#">Rafael Caparó</a>. All right reserved.
                <b>Universidad Nacional de Ingeniería</b>
            </p>
            <p>
                <h2>Social:
                    <a class="social" href="#">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="social" href="#">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a class="social" href="#">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                </h2>
            </p>
        </div>
    </div>

</footer>
<!-- End footer -->