<!DOCTYPE html>
<html lang="en">
  <%include  partials/head%>
  
<link rel="stylesheet" href="stylesheets/index.css">

<body>
	<!-- Start Header -->
	<header id="mu-header" class="" role="banner">
		<div class="container">
			<nav class="navbar navbar-default mu-navbar">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						    aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- Text Logo -->
						<a class="navbar-brand" href="#">Rafael Caparó</a>


						<!-- Image Logo  -->
						<!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a> -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav mu-menu navbar-right">
							<li>
								<a href="#">
									<i class="fa fa-home" aria-hidden="true"></i>Home</a>
							</li>
							<li>
								<a href="#mu-about">
									<i class="fa fa-bar-chart-o"></i>Servicios</a>
							</li>
							<li>
								<a href="#mu-service">
									<i class="fa fa-book"></i>Cursos</a>
							</li>
							<li>
								<a href="/downloadFile">
									<i class="fa fa-download"></i>Curriculum</a>
							</li>
							<li>
								<a href="#mu-footer">
									<i class="fa fa-globe"></i>Social</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
	</header>
	<!-- End Header -->

	<!-- Start Featured Slider -->

	<section id="mu-featured-slider">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-featured-slide">

					<!-- Start Single slide -->
					<div class="mu-featured-slider-single">
						<img src="assets/images/slider-img-1.jpg">
						<div class="mu-featured-slider-content">
							<h1>SERIES DE TIEMPO</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever</p>
							<a href="/seriestiempo" class="mu-primary-btn">Ver más</a>
						</div>
					</div>
					<!-- End Single slide -->

					<!-- Start Single slide -->
					<div class="mu-featured-slider-single">
						<img src="assets/images/slider-img-2.jpg">
						<div class="mu-featured-slider-content">
							<h1>ECONOMETRÍA II</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever</p>
							<a href="/econometria" class="mu-primary-btn">Ver más</a>
						</div>
					</div>
					<!-- End Single slide -->

					<!-- Start Single slide -->
					<div class="mu-featured-slider-single">
						<img src="assets/images/slider-img-3.jpg">
						<div class="mu-featured-slider-content">
							<h1>SERVICIOS</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
								dummy text ever</p>
							<a href="#mu-about" class="mu-primary-btn">Ver más</a>
						</div>
					</div>
					<!-- End Single slide -->
				</div>
			</div>
		</div>
	</section>

	<!-- End Featured Slider -->

	<!-- Start main content -->

	<main role="main">

		<!-- Start About -->
		<section id="mu-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-about-area">

							<div class="mu-about-header">
								<h2 class="mu-heading-title">
									<i class="fa fa-bar-chart-o"></i>
									<span>SERVICIOS</span>
								</h2>
								<span class="mu-header-dot"></span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
									dummy text ever</p>
							</div>

							<!-- Start About Us Content -->
							<div class="mu-about-content">
								<div class="row">

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-grid"></i>
											</span>
											<h4>
												<a id="service" href="#" data-toggle="tooltip" title="Ver servicios">Capacitación</a>
											</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-settings"></i>
											</span>
											<h4>
												<a id="service" href="#" data-toggle="tooltip" title="Ver servicios">Asesoría</a>
											</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-graph"></i>
											</span>
											<h4>
												<a id="service" href="#" data-toggle="tooltip" title="Ver servicios">Consultoría</a>
											</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

									<!-- About Us Single Content -->
									<div class="col-md-3 col-sm-6">
										<div class="mu-about-content-single">
											<span class="mu-about-icon-box">
												<i class="icon-docs"></i>
											</span>
											<h4>
												<a id="service" href="#" data-toggle="tooltip" title="Ver servicios">Validación</a>
											</h4>
											<p>Lorem ipsum dolor sit amet, consect adipis elit minim veniam ettis inkeras.</p>
										</div>
									</div>
									<!-- / About Us Single Content -->

								</div>
							</div>
							<!-- End About Us Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About -->

		<!-- Start Service -->
		<section id="mu-service">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-service-area">

							<div class="mu-service-header">
								<h2 class="mu-heading-title">
									<i class="fa fa-book"></i>
									<span>CURSOS</span>
								</h2>
								<span class="mu-header-dot"></span>
								<p style="text-align: justify"> Los cursos dictados tiene una fuerte orientación a la industria bancaria, debido a mi formación en Estadística, Econometría,
									Econometría Bancaria y Financiera (en Francia).
								</p>
							</div>

							<!-- Start Service Content -->
							<div class="mu-service-content">
								<div class="row">

									<!-- Service Single Content -->
									<div class="col-md-6 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-vector"></i>
											</span>
											<h4>
												<a id="courses" href="/econometria" data-toggle="tooltip" title="Ingresar al curso">
													Econometría II
												</a>
											</h4>
											<p style="text-align: justify">Este curso de Econometría II tiene una fuerte orientación a la Econometría Bancaria, por lo cual enmarca dos tipos
												de datos: Corte Transversal y Datos de Panel. Se desarrollan aplicaciones para encontrar Probabilidades de Incumpliento
												(PD pos sus siglas en inglés), Pérdidas Dado el Incumplimiento (LGD pos sus siglas en inglés) y Exposiciones
												Frente al Incumplimiento (EAD) entre otros.
											</p>
											<span class="badge text-center">Llevado por 1234 estudiantes</span>
										</div>
									</div>
									<!-- / Service Single Content -->

									<!-- Service Single Content -->
									<div class="col-md-6 col-sm-6">
										<div class="mu-service-content-single">
											<span class="mu-service-icon-box">
												<i class="icon-graph"></i>
											</span>
											<h4>
												<a id="courses" href="/seriestiempo" data-toggle="tooltip" title="Ingresar al curso">
													Series de Tiempo
												</a>
											</h4>
											<p style="text-align: justify">Este es un curso avanzado de Series de Tiempo orientado a desarrollar aplicaciones de finanzas cuantitativas,
												pricing, macroeconomía, finanzas internacionales usando modelos univariados y multivariados con apoyo de software
												especializados como el MATLAB, R y Python entre otros.</p>
											<span class="badge text-center">Llevado por 2684 estudiantes</span>
										</div>
									</div>
									<!-- / Service Single Content -->
								</div>
							</div>
							<!-- End Service Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Service -->
	</main>

  <!-- End main content -->
  <%include partials/footer%>
  <%include partials/script%>


</body>
</html>