.fa,
.icon-pin {
    margin-right: 3px;
}

.badge {
    background-color: rgba(75, 105, 211, 1);
    color: rgb(255, 255, 255);
    text-align: right;
}

.titulo {
    font-size: 16px;
    color: black;
}

.btn {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(75, 105, 211, 1);
}

.btn:hover {
    background-color: rgba(75, 105, 211, 1);
    color: rgb(255, 255, 255);
}